.info { 
    color: orange;
    font-size: larger;
}
.head {
    color: red;
    font-size: larger;
}
.info1 { 
    color: blue;
    font-size: larger;
}
.head1 {
    color: blueviolet;
    font-size: larger;
}